body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  background-color: #FFFFFF;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 240px;
}

.chat-container {
  border: 4px solid #00D68E;
  border-radius: 5px;
  padding: 2%;
  font-size: 16px;
  max-width: 800px; /*  Definindo a largura máxima em uma porcentagem relativa*/
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  height: 370px; /* Define a altura desejada para a área de conversa */
  overflow-y: scroll; /* Adiciona a barra de rolagem vertical */
  margin-bottom: 5%;
}

.chat-image {
  text-align: center;
  margin-bottom: 9%;
  border-bottom: 0.5px solid #ddd;
  padding-bottom: 0.1%;
}

.chat-image .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-image .logo-container img {
  width: 16%;
  height: auto;
  border-radius: 10%;
}

.chat-image .logo-container .chat-title {
  color: #46177D;
  margin-left: 10px;
  font-size: 60px;
}

.message-container {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.message-container img {
  margin-right: 2.5%;
  border-radius: 20%;
  width: 11.5%;
  height: auto;
}

.user-message {
  background-color: #e6e6e6;
  padding: 1.2%;
  border-radius: 5px;
  color: #000;
  max-width: 60%;
  margin-left: 40%;
  font-size: 16px;
}

.bot-message {
  max-width: 100%;
  font-size: 16px; /* Ajustar o tamanho do texto para 1rem */
  margin-right: 25%;
  padding-left: 1.2%;
  padding-right: 1.2%;
  background-color: #f1f1f1;


  animation-name: slideIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden; /* Evita o "piscar" durante a animação */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.user-input-container {
  margin-top: 2%;
  margin-left: 1%;
  display: flex;
}

.user-input-container input {
  flex: 1;
  padding: 1%;
  border-radius: 100px;
  font-size: 16px; 
  padding-left: 20px;
  margin-left: -1%;
}

.user-input-container img {
  margin-left: 0.7%;
  cursor: pointer;
  border-radius: 10px;
  padding: 1%;
  width: 4%;
  height: auto;
}

.user-input-container img:hover {
  background-color: #f1f1f1;
}

a {
  text-decoration: none; 
  color: #46177D; /* Remove o sublinhado */
  transition: color 0.5s; /* Adiciona uma transição suave de cor */
}

a:hover {
  color: #00D68E;
}

.bold {
  font-weight: 600;
}
