body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffff;
}
.logo-container {
  text-align: center;
  margin-bottom: 2%;
}

.logo {
  width: 260px; /* Ajuste o tamanho conforme necessário */
}



.chat-container {
  border: 4px solid #34a882;
  border-radius: 5px;
  padding: 2.5%;
  max-width: 800px; /*  Definindo a largura máxima em uma porcentagem relativa*/
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  height: 400px; /* Define a altura desejada para a área de conversa */
  overflow-y: scroll; /* Adiciona a barra de rolagem vertical */
  margin-bottom: 3%;
}

.chat-image {
  text-align: center;
  margin-bottom: 9%;
  border-bottom: 0.5px solid #ddd;
  padding-bottom: 0.1%;
}

.chat-image .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-image .logo-container img {
  width: 18%;
  height: auto;
  border-radius: 50%;
}

.chat-image .logo-container .chat-title {
  color: #50177f;
  margin-left: 10px;
  font-size: 60px;
}

.message-container {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  
}

.message-container img {
  margin-right: 2.5%;
  border-radius: 50%;
  width: 11.5%;
  height: auto;
}

.user-message {
  background-color: #e6e6e6;
  padding: 1.2%;
  border-radius: 5px;
  color: #000;
  max-width: 60%;
  margin-left: 40%;

}
.bot-message {
  background-color: #f1f1f1;
  padding: 1.5%;
  border-radius: 5px;
  color: #000;
  max-width: 60%;
}

.user-input-container {
  margin-top: 4%;
  display: flex;
}

.user-input-container input {
  flex: 1;
  padding: 1.5%;
  border-radius: 5px;
}

.user-input-container img {
  margin-left: 0.7%;
  cursor: pointer;
  border-radius: 5px;
  padding: 1%;
  width: 3%;
  height: auto;
}

.user-input-container img:hover {
  background-color: #50177f;
}

a {
  text-decoration: none; /* Remove o sublinhado */
  color: #50177f; /* Herda a cor do elemento pai */
  transition: color 0.3s; /* Adiciona uma transição suave de cor */
}

a:hover {
  color: #00D68D; /* Altera a cor para roxo ao passar o mouse */
}

/* Estilos para dispositivos com largura de tela menor ou igual a 600px */
@media (max-width: 600px) {
  body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; /* Centralizar o conteúdo horizontalmente */
    align-items: center; /* Centralizar o conteúdo verticalmente */
  }

  .logo-container {
    text-align: center;
    margin-bottom: 2%;
  }
  
  .logo {
    width: 70%; /* Ajuste o tamanho conforme necessário */
    margin-top: 17%;
    justify-content: center; /* Centralizar o conteúdo horizontalmente */
    align-items: center; /* Centralizar o conteúdo verticalmente */
    margin-right: 8.5%;
  }

  .chat-container {
    width: 80%; /* Ajustar a largura para 80% */
    height: 38vh; /* Ajustar a altura para 38vh */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Centralizar o conteúdo verticalmente */
    margin-top: 6%;
  }

  .message-container img {
    width: 20%;
  }

  .chat-image .logo-container img {
    width: 24%;
    height: auto;
  }
  
  .chat-image .logo-container .chat-title {
    font-size: 46px;
  }

  .user-message {
    max-width: 80%;
    margin-left: 25%;
    font-size: 1rem; /* Ajustar o tamanho do texto para 1rem */
  }
  
  .bot-message {
    max-width: 80%;
    font-size: 1rem; /* Ajustar o tamanho do texto para 1rem */
    margin-right: 25%;
  }

  .user-input-container input {
    flex: 1;
    padding: 2%;
    height: 41%;
    margin-top: 1.7%;
    border-radius: 5px;
    font-size: 1rem; /* Ajustar o tamanho do texto para 1rem */
  }

  
  .user-input-container img {
    margin-left: 0.7%;
    cursor: pointer;
    border-radius: 5px;
    padding: 3%;
    width: 9%;
    height: auto;
  }
}
