body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #50177f;
}


.chat-container {
  border: 4px solid #34a882;
  border-radius: 5px;
  padding: 2.5%;
  max-width: 800px; /*  Definindo a largura máxima em uma porcentagem relativa*/
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  height: 400px; /* Define a altura desejada para a área de conversa */
  overflow-y: scroll; /* Adiciona a barra de rolagem vertical */
}

.chat-image {
  text-align: center;
  margin-bottom: 9%;
  border-bottom: 0.5px solid #ddd;
  padding-bottom: 0.1%;
}

.chat-image img {
  width: 37.5%;
  height: auto;
  border-radius: 50%;
}

.message-container {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  
}

.message-container img {
  margin-right: 2.5%;
  border-radius: 50%;
  width: 11.5%;
  height: auto;
}

.user-message {
  background-color: #e6e6e6;
  padding: 0.8%;
  border-radius: 5px;
  color: #000;
  max-width: 60%;
  margin-left: 40%;

}
.bot-message {
  background-color: #f1f1f1;
  padding: 0.8%;
  border-radius: 5px;
  color: #000;
  max-width: 60%;
}

.user-input-container {
  margin-top: 4%;
  display: flex;
}

.user-input-container input {
  flex: 1;
  padding: 1.5%;
  border-radius: 5px;
}

.user-input-container img {
  margin-left: 0.7%;
  cursor: pointer;
  border-radius: 5px;
  padding: 1%;
  width: 3%;
  height: auto;
}

@media (max-width: 600px) {
  .chat-image img {
    width: 25%;
    height: auto;
  }

  .message-container img {
    width: 10%;
    height: auto;
  }

  .user-message,
  .bot-message {
    max-width: 80%;
  }
}

.user-input-container img:hover {
  background-color: #50177f;
}


/* Estilos para dispositivos com largura de tela menor ou igual a 600px */
@media (max-width: 600px) {
  body {
    width: 100%;
    height: auto;
  }

  .chat-container {
    width: 80%; /* Ajustar a largura para 80% */
    height: 95vh; /* Ajustar a altura para 95vh */
  }

  .message-container img {
    width: 20%;
  }

  .user-message,
  .bot-message {
    max-width: 80%;
    margin-left: 20%;
    font-size: 1rem; /* Ajustar o tamanho do texto para 1rem */
  }

  .user-input-container input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem; /* Ajustar o tamanho do texto para 1rem */
  }
}

/* Estilos para dispositivos com largura de tela menor ou igual a 400px */
@media (max-width: 400px) {
  .chat-container {
    padding: 1.5%;
  }

  .chat-image img {
    width: 50%;
  }

  .message-container img {
    width: 25%;
  }

  .user-message,
  .bot-message {
    max-width: 100%;
    margin-left: 0;
    font-size: 0.8rem; /* Ajustar o tamanho do texto para 0.8rem */
  }

  .user-input-container input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem; /* Ajustar o tamanho do texto para 0.8rem */
  }
}